<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>433392220122-15e7a3bom29s44bi92orf1kndc1hoh60.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.433392220122-15e7a3bom29s44bi92orf1kndc1hoh60</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>433392220122-2jqvn8heeub3vj0v3htp3hde8jvakvo0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCUgQnihi37Ke1XqKcH_d6C9yTr-seKS10</string>
	<key>GCM_SENDER_ID</key>
	<string>433392220122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kumbuAdmin</string>
	<key>PROJECT_ID</key>
	<string>kumbu-4d719</string>
	<key>STORAGE_BUCKET</key>
	<string>kumbu-4d719.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:433392220122:ios:e5bca93bfaea3aa74732e3</string>
</dict>
</plist>